body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: #a2d2ff;
    color: #ffffff;
    background: linear-gradient(#a2d2ff,#EFB0C9);
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP6A4qc4jD0Os0hOOkrXzC6MvX36I4NSyNlA&usqp=CAU");
    background-size: cover;
}

#img1:hover {
    background-image: url("https://gifdb.com/images/high/animated-minions-happy-birthday-wjz2gcfabtmguo9b.gif");
}
#img2:hover {
    background-image: url("https://media.tenor.com/1eEo6DqQJ40AAAAC/anne-hathaway-toast.gif");
}
#img3:hover {
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbTU3cGdhdGlibDh0cmFnNXE1c2luc3Y3ajRyaG56emwybWJrMHU1MCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/rq83qwjY0TF40pN56o/giphy.gif");
}
#img4:hover {
    background-image: url("https://media.tenor.com/LZBDBsclPxEAAAAM/bieber-justin.gif");
}
#img5{
    height: 200px;
}
#img5:hover {
    background-image: url("https://media.tenor.com/Mya8xBiPEG0AAAAM/leonardo-di-caprio-cheers.gif");
}